@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

.flex-signin{
    position: fixed;
    display: flex;
    max-width: 900px;
    margin: auto;
    position: relative;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: calc(100vh - 3rem);
    align-items: center;
}

.form-signin, .form-signup{
    width: min(20rem, 100vw);
}

.form-signin *, .form-signup *{
    width: 90%;
} 
.form-signin label, .form-signup label{
    margin-inline: 1rem;
}
.form-signin input, .form-signup input{
    margin-inline: 1rem;
    height: 2.5rem;
    padding: .5rem;
    background-color: inherit;
    border: 1px solid rgba(141, 141, 141, 0.636);
    margin-bottom: .5rem;
    margin-top: .25rem;
}
.form-signin h2, .form-signup h2, .form-signin p, .form-signup p{
    text-align: center;
    margin: auto;
    width: 70%;
    margin-bottom: 1rem;
}

.form-signin h2, .form-signup h2{
    font-size: 2rem;
    font-weight: 400;
}

.form-signin button, .form-signup button{
    height: 2.5rem;
    margin: .25rem 1rem;
}

.image-curtain-left, .image-curtain-right{
    position: absolute;
    width: 50%;
    height: 70%;
    background-image: url("../../assets/images/signup.png");
    background-size: cover;
    background-position: -1rem;
    border-radius: 1rem;
    background-color: inherit;
    transition: all .6s ;
    backface-visibility: visible;
}
.image-curtain-left h1, .image-curtain-right h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 5rem;
    color: white;
    font-family: 'Zeyada', cursive;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    transition: all .8s ;
    backface-visibility: visible;
}

.image-curtain-left{
    left: 0;
}

.image-curtain-right{
    left: 50%;
    transform: rotateY(180deg);
}

.image-curtain-right h1{
    transform: rotateY(-180deg);
} 

@media only screen and (width <= 620px){
    .image-curtain-right, .image-curtain-left, button[type="button"]{
        display: none;
    }
  
  
  
  }