
.page{
    padding-inline: 3rem;
}

.post-card{
    position: relative;
    margin-bottom: .5rem;
    margin-right: .5rem;
    border-radius: .5rem;
    overflow: hidden;
}

.post-card img{
    max-width: 100%;
}
.post-card p{
    padding: .5rem;
}

.post-card .thumbnail{
    width: 3rem;
    border-radius: 1.5rem;
    margin: .5rem;
}

.post-card .media-buttons{
    padding-top: .5rem;
    margin-bottom: .5rem;
}

.post-card .user-tags{ 
    margin-top: 1rem;
    padding: 0;
    vertical-align: top;
     b{
        font-size: 1rem;
    }
     em{
        font-size: .75rem;
    }
}

.post-card button.active svg{
    color: #ff007b;
}

.post-card .top-right{
    position: absolute;
    top: 1rem;
    right: 1rem;
    
}

.post-card .top-right button{
    width: 2rem;
}
.post-card .liked-counter{
    font-size: .8rem;
    padding-top: 0;
    margin-bottom: .25rem;
    cursor: pointer;
}


.rigth-auto{
    margin-right: auto;
}

.comment-input{
    width: calc(100% - 2rem);
    position: relative;
    margin: auto;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-input input{
    width: 100%;
    margin: auto;
    height: 2rem;
    background-color: transparent;
    border: 1px solid grey;
    padding: .25rem;
}

.comment-input button{
    position: absolute;
    top: .25rem;
    right: .25rem;
}

.comment{
    border-bottom: 1px solid grey;
    position: relative;
}

.comment.top-right{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.comment:last-of-type{
    border-bottom: none;
}

.comment .thumbnail, .comment .user-tags{
    transform: scale(.9);
    margin-left: 1rem;
    margin-bottom: 0;
}

.comment .user-tags{
    margin-left: 0rem;
}

.comment p{
    margin-left: 1.5rem;
    margin-top: -.5rem;
}

.modal-narrow{
    position: fixed;
    top: 0;
    width: 100%;
    padding: .5rem;
    background-color: inherit;
    overflow: scroll;
    height: 100%;
    opacity: 100%;
    z-index: 800;
}

.modal-narrow h2 {
    text-align: center;
}

.modal-narrow .link *{
    cursor: pointer;
}

.modal-narrow .top-right{
    background-color: inherit;
    z-index: 999;
    position: fixed;
}

.link{
    cursor: pointer;
}