@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');




.top-bar{
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(141, 141, 141, 0.636);
    margin: 0;
    padding-top: .5rem;
    padding-inline: 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    z-index: 800;

    margin-bottom: 1rem;
}

.top-bar a{
    padding: .5rem;
}
.top-bar button{
    padding: .5rem;
}

.logo {
    font-family: 'Zeyada', cursive;
    font-size: 2rem;
    margin-bottom: -.75rem;
    position: absolute;
    left: 1rem;
}

.search-icon, .compass-icon, .heart-icon{
    position: relative;
    bottom: .12rem;
}


.buttons-rights{
    position: absolute;
    display: flex;
    right: 0;
    width: 170px;
}

button:hover svg, a:hover svg{
    color: #ff007b;
}


#upload_widget{
    padding: .5rem; 
}






nav .extend-button *{
    position: relative;
    top: .1rem;
}

nav a, nav button{
    height: 100%;
}

button{
    cursor: pointer;
}

@media only screen and (width <= 620px)  {
    .nav-pc-tab{
        display: none;
    }
}